body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
}
main {
    margin-top: 150px;
    padding: 0 12.5%;
}
.products-container {
    display: flex;
    gap: 30px;
}
h1 {
    font-size: 4em;
    text-align: center;
    color: darkcyan;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}
li {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.button {
    background-color: transparent;
    border: 2px solid black;
    padding: 5px 12px;
}
.active {
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}
.disabled {
    cursor: not-allowed;
    background-color: red;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 25px;
}
input,
select {
    width: 50%;
    height: 60px;
}
textarea {
    width: 50%;
    height: 180px;
}
